<input type="checkbox" id="menu-toggle" class="menu-checkbox" />
<label for="menu-toggle" class="hamburger-btn">☰</label>
<aside class="responsive-sidebar">
<h3>FocusTrack</h3>
<ul>
<li>
<a href="index.html">
<img src="assets/icons/dashboard.svg" alt="Dashboard" class="menu-icon" />
<span data-i18n="sidebar_dashboard">Dashboard</span>
</a>
</li>
<li>
<a href="tasks.html">
<img src="assets/icons/tasks.svg" alt="Tasks" class="menu-icon" />
<span data-i18n="sidebar_tasks">Tasks</span>
</a>
</li>
<li>
<a href="goals.html">
<img src="assets/icons/goal.svg" alt="Goals" class="menu-icon" />
<span data-i18n="sidebar_goals">Goals</span>
</a>
</li>
<li>
<a href="reports.html">
<img src="assets/icons/reports.svg" alt="Reports" class="menu-icon" />
<span data-i18n="sidebar_reports">Reports</span>
</a>
</li>
</ul>
</aside>

