/* Dark mode butonunun tasarımı */
.theme-btn {
    background: none;
    border: none;
    font-size: 32px;
    cursor: pointer;
    padding: 8px;
    margin-top: -32px;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}
/* mousela buton üstüne gelindiğinde hafif koyulasma*/
.theme-btn:hover {
    background-color:rgba(0, 0, 0, 0.05);
    transform: scale(1.1); /*buton hafif büyür*/
}
